@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Detech Tower<br />
    8A Ton That Thuyet, My Dinh, Ha Noi<br />
    <abbr title="Phone">P:</abbr>
    0833.059.889
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thuyennhgch18080@fpt.edu.vn">thuyennhgch18080@fpt.edu.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>