@model IEnumerable<WebApplication1.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 30px">Coordinator Index</h2>


<table class="table" style="margin-top: 50px; margin-bottom:50px">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Coordinator)*@
                Coordinator
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.dateEnd)*@
                Date end
            </th><th>
    @*@Html.DisplayNameFor(model => model.dateEnd)*@
    Date final
</th>
            <th>
                Marking
            </th>
        </tr>
    </thead>
    

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Coordinator)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateFinal)
    </td>
    <td>
        @*@Html.ActionLink("Mark", "Mark", new { @class = "btn btn-primary btn-md" })*@
        @Html.ActionLink("Mark", "Mark", null, new { @class = "btn btn-primary btn-md", @style = " border-radius: 10px" })

    </td>
</tr>
}

</table>
